html {
  height: 100%;
}

body {
  background:url('./assets/bg.jpg');
  background-size: cover;
  min-height: 100%;
}
img{
  max-width: 100px;

}
.monkey{
  position: absolute;
  right: 0;
  bottom: 0;
}
.monkey:nth-child(2){
  right: auto;
  left:0
}
.playerImg{
  position: absolute;
  right: 0;
  max-width: 100px;
}
.playerImg.shake{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.exception{
  background: black;
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: -40px;
  padding:5px
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-4px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(6px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}